@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
} 
.allPage .container-fluid {
    height: 100vh;
}
.one{
    background-color: #222D3A;
    height: 100vh;
}
.two{
 background-color: #FFF;   
}
.three{
    background-color: #CFB18A;  
}
/******* one ************/

.main h1,h3{
    color: #F6F9F9;
}
h3{
    text-align: center;
}
h1 span{
    color: rgb(250, 174, 74);
}
.lesson__pick, 
.calendarBox{
    color: #F6F9F9;
    text-align: center;
    font-size: 18px;
}
.calendar__month{
    font-size: 28px;
    letter-spacing: 5px;
}
.gray{
    color: gray;
}



/******* two ************/

.changePage{
    width: 100%;
    display: flex;    
}

.changePage i{
    width: 15px;
    height: 15px;
    border: 2px #222D3A solid;
    border-radius: 10px;
    margin-left: 5px;
}
 .active{
    background-color: #222D3A;
     border-radius: 10px;
}
.btn{
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 5px;
} 
.point{
    width: 3px;
    height: 3px;
    background-color: rgb(235, 152, 97);
}
.btn{
    position: relative;
    display: inline-block;
}
.btn a{
    text-decoration: none;
    letter-spacing: 5px;
    color: #000;
    transition: all ease 0.5s;
}
/* 漸變Ｈover(重點) */
:root {
  --mainColor: rgb(250, 174, 74);
}
a {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

a:hover {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}
     


/* 底線位移效果 */
/* .btn__hover::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: rgb(235, 152, 97);
        transition: width .3s;
}
.btn__hover:hover::after{
    width: 100%;
    transition: width .3s;
} */


/* three */

.three__title h3{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    letter-spacing: 6px;
    color: #F6F9F9;
    margin-top: 20px;
}
.three__main{
    padding: 25px;
    color: #F6F9F9;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Permanent Marker', cursive;
}
.three__main span{
    color: rgb(250, 174, 74);
    margin-right: 15px;
    font-size: 28px;
   
}

